@using Microsoft.AspNetCore.Identity

@model IEnumerable<RIMS.Models.Incubator>

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
}
@if (SignInManager.IsSignedIn(User))
{
    <br />
<p>
    <a class="btn btn-md btn-success" asp-action="Create">Add Incubator</a>
</p>
<table class="table table-hover table-striped table-bordered table-condensed table-responsive" style="background-color:ghostwhite">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonitoringDevice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IncubatorModel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MonitoringDevice.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IncubatorModel.Capacity)
                </td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
}