@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RIMS</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
</head>
<body style="background-color:ghostwhite">
    <div class="">
        <div class="board">
            <!-- <h2>Welcome to IGHALO!<sup>™</sup></h2>-->
            <div class="board-inner">
                <ul class="nav nav-tabs" id="myTab">

                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li>
                            <a href="@Url.Action("Index","Home")" title="Home">
                                <span class="round-tabs one">
                                    <i class="glyphicon glyphicon-home"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Dashboard")" title="Incubator Monitor">
                                <span class="round-tabs two">
                                    <i class="glyphicon glyphicon-scale"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","EggManagement")" title="Hatch Calender">
                                <span class="round-tabs three">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Incubators")" title="My Incubators">
                                <span class="round-tabs four">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </span>
                            </a>
                        </li>
                        <li class="">

                            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="My Account">

                                <span class="round-tabs five">
                                    <i class="glyphicon glyphicon-user"></i>

                                </span>
                            </a>

                        </li>
                            

                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action("Index","Home")" title="Home">
                                <span class="round-tabs one">
                                    <i class="glyphicon glyphicon-home"></i>
                                </span>
                            </a>
                        </li>
                        <li class="pull-right">
                            <a asp-area="Identity" asp-page="/Account/Register" title="Register">

                                <span class="round-tabs five">
                                    <i class="glyphicon glyphicon-user"></i>

                                </span>

                            </a>
                        </li>
                        <li class="pull-right">
                            <a asp-area="Identity" asp-page="/Account/Login" title="Login">

                                <span class="round-tabs five">
                                    <i class="glyphicon glyphicon-log-in"></i>

                                </span>

                            </a>
                        </li>


                    }

                </ul>

                </div>
            </div>
        <div class="tab-content">

            @RenderBody()
        </div>
        </div>


    <partial name="_CookieConsentPartial" />
    <div class="body-content">




        <hr />
        <footer>
            <p>&copy; 2018 - RIMS</p>
        </footer>
    </div>







    

    @RenderSection("Scripts", required: false)
</body>
</html>
