@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RIMS</title>

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js"></script>
   
  

</head>
<body style="background-color:ghostwhite">
    <partial name="_CookieConsentPartial" />

    <div class="board">
        <div class="board-inner">
            <ul class="nav nav-tabs" id="myTab">

                @if (SignInManager.IsSignedIn(User))
                {
                    <li>
                        <a href="@Url.Action("Index","Home")" title="Home">
                            <span class="round-tabs one">
                                <i class="glyphicon glyphicon-home"></i>
                                
                            </span>

                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("Index","Dashboard")" title="Incubator Monitor">
                            <span class="round-tabs two">
                                <i class="glyphicon glyphicon-scale"></i>
                                Incubator Monitor
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","EggManagement")" title="Hatch Calender">
                            <span class="round-tabs three">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Incubators")" title="My Incubators">
                            <span class="round-tabs four">
                                <i class="glyphicon glyphicon-edit"></i>
                            </span>
                        </a>
                    </li>
                    <li class="">

                        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="My Account">

                            <span class="round-tabs five">
                                <i class="glyphicon glyphicon-user"></i>

                            </span>
                        </a>

                    </li>
                    <li class="pull-right" style="padding-top:4px" title="Logout">
                        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Home/Index")" method="post" id="logoutForm">

                            <button type="submit" class="btn btn-link">

                                <span class="round-tabs five">
                                    <i class="glyphicon glyphicon-log-out"></i>

                                </span>

                            </button>

                        </form>
                        
                   </li>

                }
                else
                {
                    <li>
                        <a href="@Url.Action("Index","Home")" title="Home">
                            <span class="round-tabs one">
                                <i class="glyphicon glyphicon-home success"></i>
                            </span>

                        </a>
                    </li>

                    <li class="pull-right">
                        <a asp-area="Identity" asp-page="/Account/Register" title="Register">

                            <span class="round-tabs five">
                                <i class="glyphicon glyphicon-user"></i>

                            </span>

                        </a>
                    </li>
                    <li class="pull-right">
                        <a asp-area="Identity" asp-page="/Account/Login" title="Login">

                            <span class="round-tabs five">
                                <i class="glyphicon glyphicon-log-in"></i>

                            </span>

                        </a>
                    </li>


                }

            </ul>

        </div>
    </div>
    <div class="tab-content" >
        @RenderBody()





            <hr />
            <footer>
                <h5>&copy; 2018 - RPIMS. Developed By: <a href="/Home/Contact">Kondwerani Kamsesa</a></h5>
            </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
