@model RIMS.Models.ViewModels.EggManagementViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{  
  
    var index = 0;
    string[] ColourValues = new string[] {
        "burlywood", "aqua", "yellow", "pink", "lightgreen", "azure",
        "crimson", "goldenrod", "honeydew", "indianred", "ivory",
        "khaki", "lightsalmon", "linen", "wheat", "stateblue", "orange",
        "burlywood", "aqua", "yellow", "pink", "lightgreen", "azure",
        "crimson", "goldenrod", "honeydew", "indianred", "ivory",
        "khaki", "lightsalmon", "linen", "wheat", "stateblue", "orange"

    };
}

<h2>Egg Management</h2>
@{ if (Model.Incubator.Id != 0)
    {
        <div class="row" style="background-color:ghostwhite">

            <div class="col-sm-4">
                <br />
                <div class="well well-sm">
                    <h3>Settings</h3>
                </div>
                <hr >
                <div class="form-group" style="margin-bottom: 20px">
                    <h4>Incubator:</h4>
                    <div class="dropdown">
                        <button class="btn btn-primary btn-md dropdown-toggle" type="button" id="devicesMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" title="Select the incubator you want to manage">
                            @Model.Incubator.Name
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="devicesMenu">
                            @foreach (var item in Model.Incubators)
                            {
                                <li><a href="@Url.Action("Index", new { id = item.Id })">@item.Name</a></li>
                            }
                        </ul>
                    </div>
                </div>
                <h4>
                    Upcoming Dates:
                    <a href="@Url.Action("Index", new { id = Model.Incubator.Id })" class="btn btn-sm btn-success" title="After changing trays, update the hatch calender below here">
                        Update
                    </a>
                </h4>
                <hr />

                <table class="table table-striped table-bordered table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Date
                            </th>
                            <th>
                                Action
                            </th>
                            <th>
                                Tray Color
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var calenderGroup in Model.CandlingTrays)
                        {

                            <tr>
                                <td>
                                    @calenderGroup.ActionDate.ToString("dd-MMM-yyyy")
                                </td>
                                <td>
                                    Candling
                                </td>
                                <td style="background-color:@ColourValues[index]"></td>
                            </tr>
                            calenderGroup.Id = index;
                            index++;
                        }

                        @foreach (var calenderGroup in Model.HatchPreparationTrays)
                        {

                            <tr>
                                <td>
                                    @calenderGroup.ActionDate.ToString("dd-MMM-yyyy")
                                </td>
                                <td>
                                    Hatch Preparation
                                </td>
                                <td style="background-color:@ColourValues[index]"></td>
                            </tr>
                            calenderGroup.Id = index;
                            index++;
                        }

                        @foreach (var calenderGroup in Model.HatchTrays)
                        {

                            <tr>
                                <td>
                                    @calenderGroup.ActionDate.ToString("dd-MMM-yyyy")
                                </td>
                                <td>
                                    Hatching
                                </td>
                                <td style="background-color:@ColourValues[index]"></td>
                            </tr>
                            calenderGroup.Id = index;
                            index++;
                        }
                    </tbody>
                </table>
            </div>


            <div class="col-sm-8">
                <br />

                <div class="well well-sm">

                    <h3>@Model.Incubator.Name</h3>
                </div>
                <hr />
                <table class="table table-condensed table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                Rack Number
                            </th>

                            <th style="text-align:center">
                                Column
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var rack in Model.Racks)
                        {
                            <tr class="warning">
                                <td>
                                    @Html.DisplayFor(modelItem => rack.RackNumber)
                                </td>

                                <td>
                                    <table class="table table-hover table-responsive table-bordered">
                                        <thead>
                                            <tr>
                                                <th>

                                                </th>
                                                @for (var rackNumber = 1; rackNumber <= Model.Incubator.IncubatorModel.RackLength; rackNumber++)
                                                {
                                                    <th>
                                                        @rackNumber
                                                    </th>
                                                }

                                            </tr>
                                        </thead>
                                        <tbody>

                                            @for (var rowNumber = 1; rowNumber <= Model.Incubator.IncubatorModel.RackWidth; rowNumber++)
                                            {
                                                <tr style="background-color:ghostwhite">
                                                    <td>@rowNumber</td>
                                                    @for (var colNumber = 1; colNumber <= Model.Incubator.IncubatorModel.RackLength; colNumber++)
                                                    {

                                                        @foreach (var tray in Model.Trays.Where(t => t.RackId == rack.Id).Where(t => t.Row == rowNumber).Where(t => t.Column == colNumber))
                                                        {

                                                            <td>
                                                                <div class="dropdown">
                                                                    <button onclick="loadDoc(@tray.Id,@tray.EggTypeId,@rack.IncubatorId)" id="@tray.Id" @{ var style = ""; foreach (var group in Model.CandlingTrays) { if (group.TrayIds.Contains(tray.Id)) { style = ColourValues[group.Id]; } } foreach (var group in Model.HatchPreparationTrays) { if (group.TrayIds.Contains(tray.Id)) { style = ColourValues[group.Id]; } } foreach (var group in Model.HatchTrays) { if (group.TrayIds.Contains(tray.Id)) { style = ColourValues[group.Id]; } }} style="background-color:@style" class="btn btn-sm btn-default dropdown-toggle" type="button" data-toggle="dropdown" ifyle="width:80px">
                                                                        @tray.Eggtype.Name
                                                                        <span class="caret"></span>
                                                                    </button>

                                                                    <ul class="dropdown-menu">

                                                                        @foreach (var eggtype in Model.EggTypes)
                                                                        {

                                                                            <li><a onclick="loadDoc(@tray.Id, @eggtype.Id, @Model.Incubator.Id)">@eggtype.Name</a></li>
                                                                        }
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                        }

                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>

    }

    else
    {
        <div class="well">
            <h4>
                Sorry, you havent added any incubators yet, please add in the "My incubators" page.
            </h4>
        </div>
    }
}
@section scripts{
    <script>
        function loadDoc(trayId, eggTypeId, IncubatorId) {

                var url = "@Url.Action("ChangeTray").ToString()" + "?trayId=" + trayId + "&eggtypeId=" + eggTypeId + "&incubatorId=" + IncubatorId;
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (xhttp.readyState == 4 && xhttp.status == 200) {
                        document.getElementById(trayId).innerHTML = xhttp.responseText + "<span class=\"caret\"></span>";
                    }
                };
                xhttp.open("GET", url, true);
                xhttp.send();

                
            }
    </script>
}




