
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Incubator Monitor</h2>
@{
    if (Model.Incubator.Id != 0)
    {
        <div class="row">
            <div class="col-sm-3" style="background-color:ghostwhite">
                <br />

                <div class="well well-sm">

                    <h3>Settings</h3>
                </div>
                <hr />
                <div class="form-group" style="margin-bottom: 20px" title="Select the incubator you want to monitor">
                    <h4 for="devicesMenu">Incubator:</h4>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="devicesMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width: 140px">
                            @Model.Incubator.Name
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="devicesMenu">
                            @foreach (var item in Model.Incubators)
                            {
                                <li><a href="@Url.Action("Index", new { id = item.Id })">@item.Name</a></li>
                            }
                        </ul>
                    </div>
                </div>


                @{ if (Model.RecentMeasurements.Temperature != null)
                    {

                        <div class="form-group">
                            <label><a style="text-decoration:solid; color:red">LAST</a> Measurements:</label><br />

                            <div id="tempreture" class="alert alert-info" style="width: 100px; margin-bottom: 15px; padding: 5px; text-align: center" title="The last tempreture reading received from your Incubator">Temp: @Model.RecentMeasurements.Temperature&deg;C</div>

                            <div class="dropdown">
                                <div id="humidity" class="alert alert-info" style="width: 100px; margin-bottom: 15px; padding: 5px; text-align: center"title="The last humidity reading received from your Incubator">Hum: @Model.RecentMeasurements.Humidity%</div>
                            </div>
                            <span id="measuredDate" style="font-style: italic">As of: @Model.RecentMeasurements.MeasuredDate.ToString("dd-MMM-yyyy") - @Model.RecentMeasurements.MeasuredDate.ToShortTimeString()</span>
                            <hr />
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <label><a style="text-decoration:solid; color:red">LAST</a> Measurements:</label><br />

                            <div id="tempreture" class="alert alert-success" style="width: 100px; margin-bottom: 15px; padding: 5px; text-align: center" title="The last tempreture reading received from your Incubator">N/A</div>

                            <div class="dropdown">
                                <div id="humidity" class="alert alert-success" style="width: 100px; margin-bottom: 15px; padding: 5px; text-align: center" title="The last tempreture reading received from your Incubator">N/A</div>
                            </div>
                            <hr />
                        </div>
                    }
                }

                <div class="" style="margin-bottom: 20px">
                    <h4 for="timeFrame">Time Frame:</h4>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle btn-warning" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width: 100px;" title="The time frame for the tempreture & humidity graph">
                            <span class="glyphicon glyphicon-time"></span>
                            <span id="timeFrame">@Model.TimeFrame</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="devicesMenu">

                            @{

                                string[] timeFrames = new string[] { "Hour", "Day", "Week", "Month" };

                                foreach (var timeFrame in timeFrames)
                                {
                                    <li><a href="@Url.Action("Index", new { incubatorId = Model.Incubator.Id , graphTimeFrame=timeFrame })">1 @timeFrame</a></li>

                                }
                            }
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-sm-9" style="background-color:ghostwhite">
                <br />

                <div class="well well-sm">

                    <h3>Average Tempretures</h3>
                    
                </div>
                <hr />

                
                <canvas id="myChart" width="400" height="180"></canvas>

            </div>
        </div>


        @section scripts{
            <script src="~/lib/Chart.min.js"></script>

            @{ 
                string[] dateLabels = Model.Labels;
            }
            <script>

              
                        var ctx = document.getElementById("myChart").getContext('2d');

                        var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {

                            labels: ["@dateLabels[0]", "@dateLabels[1]", "@dateLabels[2]", "@dateLabels[3]", "@dateLabels[4]","@dateLabels[5]" ],
                        datasets: [
                            {
                                label: 'Tempreture',
                                data: [@Model.TempretureMeasurements[0],@Model.TempretureMeasurements[1],@Model.TempretureMeasurements[2],@Model.TempretureMeasurements[3],@Model.TempretureMeasurements[4],@Model.TempretureMeasurements[5]],
                                fill: false,
                                borderWidth: 1,
                                borderColor: '#36a2eb',
                                pointStyle: 'crossRot',
                            },
                            {
                                label: 'Humidity',
                                data: [@Model.HumidityMeasurements[0],@Model.HumidityMeasurements[1],@Model.HumidityMeasurements[2],@Model.HumidityMeasurements[3],@Model.HumidityMeasurements[4],@Model.HumidityMeasurements[5]],
                                fill: false,
                                borderWidth: 1,
                                borderColor: '#cc65fe',
                                pointStyle: 'star'
                            }
                         ]
    },
    options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: false
                                    }
                                }]
        }
                        }
                    });

                
            </script>
        }

    }
    else
    {
        <h4>
            Sorry, you havent added any incubators yet, please add in the "My incubators" page.
        </h4>
    }
}


